$primary: #6f42c1 !default;

$font-family-sans-serif: "Manrope", Helvetica, Arial, sans-serif !default;
$headings-font-family: inherit;

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/variables-dark";
@import "../../../node_modules/bootstrap/scss/maps";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/utilities";

$fs7-font-size: $font-size-base * 0.75 !default;
$fs8-font-size: $font-size-base * 0.5 !default;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  7: $fs7-font-size,
  8: $fs8-font-size,
);

$utilities: map-merge(
  $utilities,
  (
    "font-size": (
      rfs: true,
      property: font-size,
      class: fs,
      values: $font-sizes,
    ),
  )
);

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../../node_modules/bootstrap/scss/utilities/api";

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
